* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, rgb(4, 23, 199), rgb(184, 27, 27));
  overflow-x: hidden;
}

main {
  flex: 1;
}

/* ================= HEADER ================= */

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: center;
}

h1 {
  background-color: black;
  padding: 10px;
  margin: 0;
  color: rgb(184, 27, 27);
}

/* ================= NAVBAR (MÓVIL) ================= */

nav {
  position: relative;
  background-color: #333;
}

/* Botón hamburguesa visible en móvil */
.menu-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  color: white;
  padding: 15px;
  cursor: pointer;
}

/* Menú oculto por defecto en móvil */
ul {
  display: none;
  flex-direction: column;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.menu-open {
  display: flex;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 15px;
  text-decoration: none;
  border-top: 1px solid #444;
}

li a.active {
  background-color: rgb(184, 27, 27);
}

li a:active {
  background-color: #111;
}

img {
  max-width: 100%;
  height: auto;
}
/* ================= FOOTER ================= */

footer {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 15px 0;
  text-align: center;
  font-size: 0.9rem;
}

footer {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 30px 10px;
  font-size: 0.9rem;
}

footer a {
  color: white;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: underline;
}

/* Contenedor de los elementos del footer */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

/* ============== TABLET  ============== */
@media (min-width: 768px) {
  /* Ocultamos hamburguesa */
  .menu-toggle {
    display: none;
  }

  /* Mostramos menú horizontal */
  ul {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
  }

  li a {
    border: none;
    font-size: 1.3rem;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  li a.active {
    background: transparent;
    color: rgb(184, 27, 27);
    border-bottom: 3px solid rgb(184, 27, 27);
  }
}
@media (min-width: 900px) {
  .footer-container {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}
