.contenedor {
  width: 50%;
  background-color: #999;
  border-radius: 10px;
  margin: 10px 0;
  padding: 20px;
  position: relative;
  left: 25%;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 10px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  background-color: rgba(17, 52, 167, 0.651);
  position: relative;

  color: white;
  padding: 15px 20px;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
}
.radio-group {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.radio-group label {
  background-color: #f0f0f0;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group input[type="radio"]:checked + label {
  background-color: #0417c7;
  color: white;
}
input:focus {
  background-color: antiquewhite;
}
input[type="submit"]:hover {
  background-color: rgb(117, 56, 214);
}
