/* ================= TÍTULOS ================= */

.subtitulo {
  margin: 20px;
  text-align: center;
}

.tituloInterno {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

/* ================= CONTENEDOR ================= */

.container {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

/* ================= BLOQUES (MÓVIL) ================= */

.bloque {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
  transition: transform 0.3s ease;
}

.bloque img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
}

.bloque p {
  font-size: 1rem;
  line-height: 1.6;

  text-align: justify;
}

/* Hover solo tendrá efecto en pantallas grandes */
@media (hover: hover) {
  .bloque:hover {
    transform: translateY(-5px);
  }
}

/* ================= TABLET Y ESCRITORIO ================= */

@media (min-width: 768px) {
  .subtitulo {
    text-align: left;
    margin-left: 60px;
  }

  .tituloInterno {
    font-size: 24px;
    text-align: left;
  }

  .container {
    max-width: 1100px;
  }

  .bloque {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .bloque.reverse {
    flex-direction: row-reverse;
  }

  .bloque img {
    width: 40%;
  }

  .bloque p {
    flex: 1;
    font-size: 1.4rem;
    text-align: justify;
  }
}
